@use '../../../styles/variables' as variables;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: variables.$text-main-color;

  &:hover {
    color: variables.$orange;
  }
}

