<footer class="footer">
  <div class="footer__content container">
    <div class="footer__wrapper">
      <a class="footer__link-logo" href="#">
        <img src="./assets/images/vector/footer-logo.svg" width="90" height="90" alt="Логотип Survive at all costs">
      </a>
      <nav class="footer__nav" aria-label="Основная навигация">
        <ul class="footer__list-nav">
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">main</a>
          </li>
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">about</a>
          </li>
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">game features</a>
          </li>
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">system requirements</a>
          </li>
          <li class="footer__item-nav">
            <a href="#" class="footer__link-nav">quotes</a>
          </li>
        </ul>
      </nav>
      <div class="footer__social">
        <ul class="footer__list-social">
          <li class="footer__item-social">
            <a class="footer__link-social" href="#" aria-label="Facebook">
              <svg width="9" height="19">
                <use href="./assets/images/vector/footer-facebook.svg#footer-facebook"/>
              </svg>
            </a>
          </li>
          <li class="footer__item-social">
            <a class="footer__link-social" href="#" aria-label="Twitter">
              <svg width="21" height="16">
                <use href="./assets/images/vector/footer-twitter.svg#footer-twitter"/>
              </svg>
            </a>
          </li>
          <li class="footer__item-social">
            <a class="footer__link-social footer__link-social--youtube" href="#" aria-label="Youtube">
              <svg width="25" height="18">
                <use href="./assets/images/vector/footer-youtube.svg#footer-youtube"/>
              </svg>
            </a>
          </li>
          <li class="footer__item-social">
            <a class="footer__link-social" href="#" aria-label="Twitch">
              <svg width="19" height="18">
                <use href="./assets/images/vector/footer-twitch.svg#footer-twitch"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <small class="footer__copyright"> © 2018 Outpost Games, Inc. All Rights Reserved</small>
  </div>
</footer>
