@font-face {
  font-family: OpenSans;
  src:
    url("../assets/fonts/open-sans-regular.woff2") format("woff2"),
    url("../assets/fonts/open-sans-regular.woff") format("woff"),
    url("../assets/fonts/open-sans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src:
    url("../assets/fonts/open-sans-bold.woff2") format("woff2"),
    url("../assets/fonts/open-sans-bold.woff") format("woff"),
    url("../assets/fonts/open-sans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("../assets/fonts/bebas-neue-bold.woff2") format("woff2"),
    url("../assets/fonts/bebas-neue-bold.woff") format("woff"),
    url("../assets/fonts/bebas-neue-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
