// ===== COLOR =====
$text-main-color: rgb(255 255 255 / 100%);
$text-main-color-light: rgb(255 255 255 / 50%);
$orange: rgb(255 181 72 / 100%);
$black: rgb(0 0 0 / 75%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====
$font-family-primary: 'OpenSans', sans-serif;
$font-family-secondary: 'NBebas Neue', sans-serif;
