// ===== COLOR =====
$text-main-color: rgb(255 255 255 / 100%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====
$font-family-primary: 'OpenSans', sans-serif;
$font-family-secondary: 'NBebas Neue', sans-serif;
