<section class="details" aria-labelledby="title-details">
  <h2 id="title-details" class="details__title-main visually-hidden">Детали игры</h2>
  <div class="details__content container">
    <div class="details__wrapper-content">
      <div class="details__subtitle subtitle">What’s so special?</div>
      <h3 class="details__title-content title-content">features</h3>
      <ul class="details__list" role="tablist">
        <li class="details__item" role="presentation"></li>
        <li class="details__item" role="presentation"></li>
        <li class="details__item" role="presentation"></li>
      </ul>
    </div>
  </div>
</section>
