@use "../../../styles/variables" as variables;

.story {
  height: 100vh;
  padding: 20px 0;
  background-image: url("../../../assets/images/raster/hero-bg-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;

    @media(width <= 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    &-content {
      text-align: left;
      border-bottom: 3px solid variables.$text-main-color;
    }
  }

  &__wrapper {
    max-width: 600px;
    width: 100%;

    @media(width <= 768px) {
      p {
        margin-bottom: 50px;
      }
    }
  }

  &__swiper {
    max-width: 500px;
    width: 100%;
    height: 610px;

    @media (width <= 1440px) {
      width: calc(225px + 275 * ((100vw - 320px) / 1120));
      height: calc(270px + 340 * ((100vw - 320px) / 1120));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
