@use '../../../styles/variables' as variables;

.story {
  height: 100vh;
  padding: 20px 0;
  background-image: url("../../../assets/images/raster/hero-bg-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    &-content {
      text-align: left;
      border-bottom: 3px solid variables.$text-main-color;
    }
  }

  &__subtitle {
    color: variables.$text-main-color;
    font-family: variables.$font-family-secondary;
    font-size: clamp(1.125rem, 1.037rem + 0.3859vw, 1.5rem);
    font-weight: 700;
    line-height: clamp(1.375rem, 1.2723rem + 0.4502vw, 1.8125rem);;
    letter-spacing: 2px;
    text-align: left;
  }

  &__wrapper {
    max-width: 600px;
    width: 100%;
  }

  &__swiper {
    max-width: 500px;
    width: 100%;
    height: 610px;

    @media (width <= 1440px) {
        width: calc(225px + 275 * ((100vw - 320px) / 1120));
        height: calc(270px + 340 * ((100vw - 320px) / 1120));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

