<section class="story" aria-labelledby="title-main">
  <h2 id="title-main" class="story__title-main visually-hidden">История королевской битвы</h2>
  <div class="story__content container">
    <div class="story__wrapper" role="group"aria-labelledby="title-story">
      <div class="story__subtitle">What is SOS?</div>
      <h3 id="title-story" class="story__title-content title-content">social battle royale game</h3>
      <p>Each round, you and 15 other contestants compete toescape a deadly island filled with monsters. The trick is:
        three people can survive. Will you runsolo or form friendships with others to escape?
        Making the right decisions could be thedifference between life and death.</p>
    </div>
  </div>
</section>
