<header class="header-main" role="banner">
  <div class="header-main__content container">
    <a class="header-main__link-logo" href="#">
      <img
        src="./assets/images/vector/header-logo.svg"
        width="55"
        height="55"
        alt="Логотип Survive at all costs"
      />
    </a>
    <nav
      class="header-main__nav"
      [class.header-main__nav--open]="isMainNavOpen()"
      role="navigation"
      aria-label="Main navigation"
      [attr.aria-hidden]="!isMainNavOpen()"
    >
      <ul id="nav-menu" class="header-main__list-nav" [class.header-main__list-nav--open]="isMainNavOpen()">
        <li class="header-main__item-nav">
          <a href="#" class="header-main__link-nav">Main</a>
        </li>
        <li class="header-main__item-nav">
          <a href="#" class="header-main__link-nav">About</a>
        </li>
        <li class="header-main__item-nav">
          <a href="#" class="header-main__link-nav">Game features</a>
        </li>
        <li class="header-main__item-nav">
          <a href="#" class="header-main__link-nav">System requirements</a>
        </li>
        <li class="header-main__item-nav">
          <a href="#" class="header-main__link-nav">Quotes</a>
        </li>
        <li class="header-main__item-nav">
          <div class="header-main__wrapper-nav" role="group">
            <a href="#">
              <svg class="header-main__item-platform" width="30" height="30" aria-label="Xbox platform" role="img">
                <use href="./assets/images/vector/header-xbox.svg#xbox-icon"/>
              </svg>
            </a>
            <a href="#">
              <svg class="header-main__item-platform" width="30" height="30" aria-label="Steam platform" role="img">
                <use href="./assets/images/vector/header-steam.svg#steam-icon"/>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="header-main__actions">
      <div
        appToggleLanguage
        (languageToggled)="onLanguageToggled($event)"
        class="header-main__action-language"
      >
        <div class="header-main__wrapper">
          <button
            class="header-main__button-language"
            aria-label="Select language"
          >
            eng
          </button>
          <ul
            class="header-main__list-actions"
            [class.header-main__list-actions-open]="isLanguageMenuOpen()"
            role="listbox"
            aria-label="Language options"
          >
            <li class="header-main__item-actions" role="option">rus</li>
            <li class="header-main__item-actions" role="option">fra</li>
            <li class="header-main__item-actions" role="option">deu</li>
          </ul>
        </div>
      </div>
      <button aria-haspopup="true" [attr.aria-expanded]="isMainNavOpen()" aria-controls="nav-menu" appToggleMainNav (mainNavToggled)="onMainNavToggled()" [isMainNavOpen]="isMainNavOpen()"
              class="header-main__burger">
        <span class="header-main__line header-main__line--top"></span>
        <span class="header-main__line header-main__line--middle"></span>
        <span class="header-main__line header-main__line--bottom"
              [class.header-main__line--bottom-open]="isMainNavOpen()"></span>
      </button>
      <ul class="header-main__list-platform">
        <li class="header-main__item-platform">
          <svg width="30" height="30" aria-label="Xbox platform" role="img">
            <use href="./assets/images/vector/header-xbox.svg#xbox-icon"/>
          </svg>
        </li>
        <li class="header-main__item-platform">
          <svg width="30" height="30" aria-label="Steam platform" role="img">
            <use href="./assets/images/vector/header-steam.svg#steam-icon"/>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
