<header class="header-main" role="banner">
  <div class="header-main__content container">
    <a class="header-main__link-logo" href="#" role="link">
      <img src="./assets/images/vector/header-logo.svg" width="55" height="55" alt="Логотип Survive at all costs">
    </a>
    <nav class="header-main__nav" role="navigation">
      <ul class="header-main__list">
        <li class="header-main__item">Main</li>
        <li class="header-main__item">About</li>
        <li class="header-main__item">Game features</li>
        <li class="header-main__item">System requirements</li>
        <li class="header-main__item">Quotes</li>
      </ul>
    </nav>
  </div>
</header>
