@use '../../../styles/variables';

.header-main {
  background-color: aqua;

  &__link-logo {
    display: block;
    width: clamp(2rem, 1.6626rem + 1.4791vw, 3.4375rem);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
}
