<section class="subscribe" aria-labelledby="subscribe__title">
  <h2 id="subscribe__title" class="subscribe__title-main visually-hidden">Subscribe to news</h2>
  <div class="subscribe__content container">
    <div class="subscribe__wrapper-image">
      <img src="./assets/images/raster/subscribe-bg.png" width="413" height="656" alt="" loading="lazy">
    </div>
    <div class="subscribe__column">
      <div class="subscribe__subtitle subtitle">Want to stay in touch?</div>
      <h3 class="subscribe__title-content title-content">newsletter subscribe</h3>
      <p class="subscribe__text">In order to start receiving our news, all you have to do is enter your email address.
        Everything else will be
        taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
    </div>
    <form class="subscribe__form">
      <label class="subscribe__label">
        <span>Your email address</span>
        <input type="email" name="email" placeholder="aliciliniavopir@gmail.com">
      </label>
      <button class="subscribe__button-form button">Subscribe now</button>
    </form>
  </div>
</section>
