<section id="about" class="subscribe" aria-labelledby="subscribe__title">
  <h2 id="subscribe__title" class="subscribe__title-main visually-hidden">
    Subscribe to news
  </h2>
  <div class="subscribe__content container">
    <div class="subscribe__wrapper-image">
      <img
        src="./assets/images/raster/subscribe-bg.png"
        width="413"
        height="656"
        alt=""
        loading="lazy"
      />
    </div>
    <div class="subscribe__column">
      <div class="subscribe__subtitle subtitle">{{'SUBSCRIBE.SUBTITLE' | translate}}</div>
      <h3 class="subscribe__title-content title-content">
        {{'SUBSCRIBE.TITLE' | translate}}
      </h3>
      <p class="subscribe__text">
        {{'SUBSCRIBE.TEXT' | translate}}
      </p>
    </div>
    <form class="subscribe__form">
      <label class="subscribe__label">
        <span>{{'SUBSCRIBE.LABEL' | translate}}</span>
        <input
          type="email"
          name="email"
          placeholder="aliciliniavopir@gmail.com"
        />
      </label>
      <button class="subscribe__button-form button">{{'SUBSCRIBE.BUTTON.SUBSCRIBE' | translate}}</button>
    </form>
  </div>
</section>
