@use './styles/fonts';
@use './styles/variables' as variables;
@import "../node_modules/swiper/swiper.css";
@import "../node_modules/swiper/modules/autoplay.css";
@import "../node_modules/swiper/modules/pagination.min.css";
@import "../node_modules/swiper/modules/navigation.min.css";
@import "../node_modules/swiper/modules/effect-cards-element.min.css";


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: variables.$text-main-color;
  font-family: variables.$font-family-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title-content {
  margin: 0;
  color: variables.$text-main-color;
  font-family: variables.$font-family-secondary;
  font-size: clamp(2.0625rem, 1.373rem + 3.0225vw, 5rem);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
