@use './styles/fonts';
@use './styles/variables' as variables;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: variables.$text-main-color;
  font-family: variables.$font-family-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
