@use "./styles/fonts";
@use "./styles/variables" as variables;
@import "../node_modules/swiper/swiper.css";
@import "../node_modules/swiper/modules/autoplay.css";
@import "../node_modules/swiper/modules/pagination.min.css";
@import "../node_modules/swiper/modules/navigation.min.css";
@import "../node_modules/swiper/modules/effect-cards-element.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: variables.$text-main-color;
  font-family: variables.$font-family-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title-content {
  margin: 0;
  color: variables.$text-main-color;
  font-family: variables.$font-family-secondary;
  font-size: clamp(2.0625rem, 1.373rem + 3.0225vw, 5rem);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  color: variables.$text-main-color;
  font-family: variables.$font-family-secondary;
  font-size: clamp(1.125rem, 1.037rem + 0.3859vw, 1.5rem);
  font-weight: 700;
  line-height: clamp(1.375rem, 1.2723rem + 0.4502vw, 1.8125rem);
  letter-spacing: 2px;
  text-align: left;
}

.swiper-pagination-bullet {
  background-color: variables.$text-main-color;
  width: 14px;
  height: 14px;
}

.swiper-pagination-bullet-active {
  background-color: variables.$orange;
}

.button {
  max-width: 260px;
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  background-color: variables.$orange;
  color: variables.$dark-charcoal;
  font-family: variables.$font-family-primary;
  font-size: clamp(0.875rem, 0.8457rem + 0.1286vw, 1rem);
  font-weight: 700;
  line-height: clamp(1.1875rem, 1.1435rem + 0.1929vw, 1.375rem);
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$text-main-color;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
