<section class="quotes" aria-labelledby="quotes-title">
  <h2 id="quotes-title" class="quotes__title-main visually-hidden">
    People quotes about game.
  </h2>
  <div class="quotes__content container">
    <div class="quotes__column-left">
      <div class="quotes__subtitle subtitle">  {{'QUOTES.SUBTITLE' | translate}}</div>
      <h3 class="quotes__title-content title-content">  {{'QUOTES.TITLE' | translate}}</h3>
      <p class="quotes__text">
        {{'QUOTES.TEXT' | translate}}
      </p>
      <button class="quotes__button button" type="button">
        {{'QUOTES.BUTTON.READ-MORE' | translate}}
      </button>
    </div>
    <ul class="quotes__list">
      <li class="quotes__item">
        <article class="quotes__card">
          <div class="quotes__wrapper-author">
            <div class="quotes__wrapper-image">
              <img
                src="./assets/images/raster/quotes-avatar-1.jpg"
                width="67"
                height="66"
                loading="lazy"
                alt="Avatar of Evan Lahti"
              />
            </div>
            <div class="quotes__wrapper-card-title">
              <h4 class="quotes__title-card"> {{'QUOTES.CARD.EVAN.NAME' | translate}}</h4>
              <span>{{'QUOTES.CARD.EVAN.PROFESSION' | translate}}</span>
            </div>
            <a href="#" class="quotes__link" aria-label="Twitter">
              <svg width="18" height="14">
                <use href="./assets/images/vector/quotes-twitter.svg#twitter" />
              </svg>
            </a>
          </div>
          <blockquote class="quotes__blockquote">
            <p>{{'QUOTES.CARD.EVAN.TEXT' | translate}}</p>
          </blockquote>
          <time class="quotes__date" datetime="2018-10-18"
            >{{'QUOTES.CARD.EVAN.DATE' | translate}}</time
          >
        </article>
      </li>
      <li class="quotes__item">
        <article class="quotes__card">
          <div class="quotes__wrapper-author">
            <div class="quotes__wrapper-image">
              <img
                src="./assets/images/raster/quotes-avatar-2.jpg"
                width="67"
                height="66"
                loading="lazy"
                alt="Avatar of Jada Griffin"
              />
            </div>
            <div class="quotes__wrapper-card-title">
              <h4 class="quotes__title-card">{{'QUOTES.CARD.JADA.NAME' | translate}}</h4>
              <span>{{'QUOTES.CARD.JADA.PROFESSION' | translate}}</span>
            </div>
            <a href="#" class="quotes__link" aria-label="Twitter">
              <svg width="18" height="14">
                <use href="./assets/images/vector/quotes-twitter.svg#twitter" />
              </svg>
            </a>
          </div>
          <blockquote class="quotes__blockquote">
            <p>
              {{'QUOTES.CARD.JADA.TEXT' | translate}}
            </p>
          </blockquote>
          <time class="quotes__date" datetime="2018-12-21"
            >{{'QUOTES.CARD.JADA.DATE' | translate}}</time
          >
        </article>
      </li>
      <li class="quotes__item">
        <article class="quotes__card">
          <div class="quotes__wrapper-author">
            <div class="quotes__wrapper-image">
              <img
                src="./assets/images/raster/quotes-avatar-3.jpg"
                width="67"
                height="66"
                loading="lazy"
                alt="Avatar of Aaron Williams"
              />
            </div>
            <div class="quotes__wrapper-card-title">
              <h4 class="quotes__title-card">{{'QUOTES.CARD.AARON.NAME' | translate}}</h4>
              <span>{{'QUOTES.CARD.AARON.PROFESSION' | translate}}</span>
            </div>
            <a href="#" class="quotes__link" aria-label="Twitter">
              <svg width="18" height="14">
                <use href="./assets/images/vector/quotes-twitter.svg#twitter" />
              </svg>
            </a>
          </div>
          <blockquote class="quotes__blockquote">
            <p>
              {{'QUOTES.CARD.AARON.TEXT' | translate}}
            </p>
          </blockquote>
          <time class="quotes__date" datetime="2018-12-24"
            >{{'QUOTES.CARD.AARON.DATE' | translate}}</time
          >
        </article>
      </li>
    </ul>
  </div>
</section>
