<section class="quotes" aria-labelledby="quotes-title">
  <h2 id="quotes-title" class="quotes__title-main visually-hidden">People quotes about game.</h2>
  <div class="quotes__content container">
    <div class="quotes__column-left">
      <div class="quotes__subtitle subtitle">What people think?</div>
      <h3 class="quotes__title-content title-content">Press quotes</h3>
      <p class="quotes__text">Our goal is to create a product and service that you’re satisfied with and use it every
        day. This is why we’re
        constantly working on our services to make it better every day and really listen to what our users has to
        say.</p>
      <button class="quotes__button button" type="button">Read more testimonials</button>
    </div>
    <ul class="quotes__list">
      <li class="quotes__item">
        <article class="quotes__card">
          <div class="quotes__wrapper-author">
            <div class="quotes__wrapper-image">
              <img src="./assets/images/raster/quotes-avatar-1.jpg" width="67" height="66" loading="lazy"
                   alt="Avatar of Evan Lahti"/>
            </div>
            <div class="quotes__wrapper-card-title">
              <h4 class="quotes__title-card">Evan Lahti</h4>
              <span>PC Gamer</span>
            </div>
            <a href="#" class="quotes__link" aria-label="Twitter">
              <svg width="18" height="14">
                <use href="./assets/images/vector/quotes-twitter.svg#twitter"/>
              </svg>
            </a>
          </div>
          <blockquote class="quotes__blockquote"><p>“One of my gaming highlights of the year.”</p></blockquote>
          <time class="quotes__date" datetime="2018-10-18">October 18, 2018</time>
        </article>
      </li>
      <li class="quotes__item">
        <article class="quotes__card">
          <div class="quotes__wrapper-author">
            <div class="quotes__wrapper-image">
              <img src="./assets/images/raster/quotes-avatar-2.jpg" width="67" height="66" loading="lazy"
                   alt="Avatar of Jada Griffin"/>
            </div>
            <div class="quotes__wrapper-card-title">
              <h4 class="quotes__title-card">Jada Griffin</h4>
              <span>Nerdreactor</span>
            </div>
            <a href="#" class="quotes__link" aria-label="Twitter">
              <svg width="18" height="14">
                <use href="./assets/images/vector/quotes-twitter.svg#twitter"/>
              </svg>
            </a>
          </div>
          <blockquote class="quotes__blockquote"><p>“The next big thing in the world of streaming and survival games.”</p></blockquote>
          <time class="quotes__date" datetime="2018-12-21">December 21, 2018</time>
        </article>
      </li>
      <li class="quotes__item">
        <article class="quotes__card">
          <div class="quotes__wrapper-author">
            <div class="quotes__wrapper-image">
              <img src="./assets/images/raster/quotes-avatar-3.jpg" width="67" height="66" loading="lazy"
                   alt="Avatar of Aaron Williams "/>
            </div>
            <div class="quotes__wrapper-card-title">
              <h4 class="quotes__title-card">Aaron Williams</h4>
              <span>Uproxx</span>
            </div>
            <a href="#" class="quotes__link" aria-label="Twitter">
              <svg width="18" height="14">
                <use href="./assets/images/vector/quotes-twitter.svg#twitter"/>
              </svg>
            </a>
          </div>
          <blockquote class="quotes__blockquote"><p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p></blockquote>
          <time class="quotes__date" datetime="2018-12-24">December 24, 2018</time>
        </article>
      </li>
    </ul>
  </div>
</section>
