<section class="hero" aria-labelledby="title-main">
  <h2 id="title-main" class="hero__title-main visually-hidden">
    Купить игру сейчас
  </h2>
  <div class="hero__swiper">
    <app-swiper
      [swiperType]="SwiperType.HERO"
      aria-label="Галерея изображений игры"
    >
      <div class="swiper-slide">
        <img
          src="./assets/images/raster/hero-bg-1.webp"
          alt="Отряд игроков на фоне ацтекской пирамиды"
          width="2880"
          height="1922"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./assets/images/raster/hero-bg-2.webp"
          alt="Пещера в джунглях"
          width="2880"
          height="1922"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./assets/images/raster/hero-bg-3.webp"
          alt="Джейкоб"
          width="2880"
          height="1922"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="./assets/images/raster/hero-bg-4.webp"
          alt="Гробница внутри пирамиды"
          width="2880"
          height="1922"
        />
      </div>
    </app-swiper>
  </div>
  <div class="hero__content">
    <div class="hero__wrapper">
      <h3 class="hero__title-content title-content">{{'HERO.TITLE' | translate}}</h3>
      <span class="hero__text">{{'HERO.SUBTITLE' | translate}}</span>
      <button class="hero__button button">{{'HERO.BUTTON' | translate}}</button>
    </div>
    <a
      appScrollRequest
      (scrollRequested)="onScrolled()"
      href="#"
      class="hero__link"
      aria-label="Прочитать историю игры"
      >{{'HERO.LINK' | translate}}</a
    >
  </div>
</section>
