<section class="hero" aria-labelledby="title-main">
  <h2 id="title-main" class="hero__title-main visually-hidden">Купить игру сейчас</h2>
  <div class="hero__swiper">
    <app-swiper>
      <div class="swiper-slide">
        <img src="./assets/images/raster/hero-bg-1.webp">
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/raster/hero-bg-2.webp">
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/raster/hero-bg-3.webp">
      </div>
      <div class="swiper-slide">
        <img src="./assets/images/raster/hero-bg-4.webp">
      </div>
    </app-swiper>
  </div>
</section>
