@use "../../../styles/variables" as variables;

.hero {
  padding-top: 80px;
  padding-bottom: 50px;
  height: 100vh;
  scroll-snap-align: start;

  &__text {
    color: variables.$text-main-color;
    font-family: variables.$font-family-secondary;
    font-size: clamp(1.125rem, 1.037rem + 0.3859vw, 1.5rem);
    font-weight: 400;
    line-height: clamp(1.375rem, 1.2723rem + 0.4502vw, 1.8125rem);
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: clamp(0.75rem, 0.5153rem + 1.0289vw, 1.75rem);
  }

  &__swiper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: clamp(10.875rem, 8.1023rem + 12.1543vw, 22.6875rem);
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: variables.$text-main-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: justify;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &::after {
      content: "";
      display: block;
      width: 22px;
      height: 10px;
      background-color: variables.$text-main-color;
      mask-image: url("../../../assets/images/vector/hero-scroll-down.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      transition: background-color 0.3s ease;
      z-index: -1;
    }

    &:hover {
      color: variables.$orange;

      &::after {
        background-color: variables.$orange;
      }
    }
  }
}
