<section class="requirements">
  <h2 class="requirements__title-main title-content">system requirements</h2>
  <div class="requirements__subtitle subtitle">
    Can My Computer Run this game?
  </div>
  <div class="requirements__content container">
    <dl class="requirements__table">
      <div class="requirements__row">
        <dt>os:</dt>
        <dd>Windows 7 64-bit only (No OSX support at this time)</dd>
      </div>
      <div class="requirements__row">
        <dt>processor:</dt>
        <dd>Intel Core 2 Duo &#64; 2.4 GHZ or AMD Athlon X2 &#64; 2.8 GHZ</dd>
      </div>
      <div class="requirements__row">
        <dt>processor:</dt>
        <dd>Intel Core 2 Duo &#64; 2.4 GHZ or AMD Athlon X2 &#64; 2.8 GHZ</dd>
      </div>
      <div class="requirements__row">
        <dt>processor:</dt>
        <dd>Intel Core 2 Duo &#64; 2.4 GHZ or AMD Athlon X2 &#64; 2.8 GHZ</dd>
      </div>
      <div class="requirements__row">
        <dt>processor:</dt>
        <dd>Intel Core 2 Duo &#64; 2.4 GHZ or AMD Athlon X2 &#64; 2.8 GHZ</dd>
      </div>
    </dl>
  </div>
</section>
