@use "../../../styles/variables";

.requirements {
  height: 100vh;
  background-image: url("../../../assets/images/raster/hero-bg-4.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    &-main {
      margin: 0 0 50px;
      order: 1;
    }
  }

  &__subtitle {
    order: 0;
  }

  &__content {
    order: 2;
  }

  &__table {
    max-width: 550px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    margin: 0;

    dt {
      color: variables.$orange;
      font-family: variables.$font-family-secondary;
      font-size: clamp(1.125rem, 1.037rem + 0.3859vw, 1.5rem);
      font-weight: 700;
      line-height: clamp(1.375rem, 1.2723rem + 0.4502vw, 1.8125rem);
      letter-spacing: 2px;
      text-align: left;
      margin-bottom: 5px;
    }

    dd {
      margin: 0;
      color: variables.$text-main-color;
      font-size: clamp(0.875rem, 0.8163rem + 0.2572vw, 1.125rem);
      font-weight: 400;
      line-height: clamp(1rem, 0.912rem + 0.3859vw, 1.375rem);
      letter-spacing: 0;
      text-align: left;
    }
  }

  &__row {
    border: 1px solid variables.$grey;
    padding: 11px 11px 22px;

    &:nth-child(1) {
      border-top-left-radius: 5px;
    }

    &:nth-child(2) {
      border-top-right-radius: 5px;
    }

    &:last-child {
      grid-column: 1/-1;
      border-radius: 0 0 5px 5px;
    }
  }
}
