<section class="requirements">
  <h2 class="requirements__title-main title-content">{{ 'REQUIREMENTS.TITLE.MAIN' | translate }}</h2>
  <div class="requirements__subtitle subtitle">
    {{ 'REQUIREMENTS.SUBTITLE' | translate }}
  </div>
  <div class="requirements__content container">
    <dl class="requirements__table">
      <div class="requirements__row">
        <dt>{{ 'REQUIREMENTS.TITLE.OS' | translate }}</dt>
        <dd>{{ 'REQUIREMENTS.TEXT.OS' | translate }}</dd>
      </div>
      <div class="requirements__row">
        <dt>{{ 'REQUIREMENTS.TITLE.PROCESSOR' | translate }}</dt>
        <dd>{{ 'REQUIREMENTS.TEXT.PROCESSOR' | translate }}</dd>
      </div>
      <div class="requirements__row">
        <dt>{{ 'REQUIREMENTS.TITLE.MEMORY' | translate }}</dt>
        <dd>{{ 'REQUIREMENTS.TEXT.MEMORY' | translate }}</dd>
      </div>
      <div class="requirements__row">
        <dt>{{ 'REQUIREMENTS.TITLE.STORAGE' | translate }}</dt>
        <dd>{{ 'REQUIREMENTS.TEXT.STORAGE' | translate }}</dd>
      </div>
      <div class="requirements__row">
        <dt>{{ 'REQUIREMENTS.TITLE.GRAPHICS' | translate }}</dt>
        <dd>{{ 'REQUIREMENTS.TEXT.GRAPHICS' | translate }}</dd>
      </div>
    </dl>
  </div>
</section>
